.header {
  background: var(--main-color);
  padding: 20px 30px;
  border-bottom: 1px solid var(--gray-1);

  h1,
  p {
    margin: 0;
  }

  .name-icon {
    img {
      margin-right: 10px;
    }
    
    h1 {
      font-size: 24px;
      line-height: 27px;
    }
  }

  .slogan {
    font-size: 18px;
  }
  
  .logout-btn {
    padding: 8px 18px;
    background: #213547;
    color: white;
    
    &:hover {
      border-color: #213547;
      background: white;
      color: #213547;
    }
    
    &:active {
      background: #efeeee;
    }
  }
}
